2309.07460v2 (1).pdf
2402.00878v1 (1).pdf 
2504.09849v1 (2).pdf
TFGPractice/CKMImagenet/.
**/SF/
**/CKMImagenet/

*.pth
*.pyc
__pycache__/

git_markdown_debug.txt
git_markdown_tracked.txt

**/test/
!TFGEightiethTry80/outputs/rmse_mae_mapcorr_val_test_dml_b1_after_range_update/test/
!TFGEightiethTry80/outputs/rmse_mae_mapcorr_val_test_dml_b1_after_range_update/test/**

*.h5
*.pt
*.ssh
*.pub
runpod_ssh
